
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#music {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 6.5em;
    height: 1.6em;
    margin: 5px;
    padding: 3px;
    background-color: hsl(0, 100%, 30%);
    color: hsl(60, 100%, 45%);
    font-family: monospace;
    cursor: pointer;
}
#endScreen {
    box-sizing: border-box;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10em;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(130deg, hsl(0, 100%, 0%), hsl(0, 100%, 40%), hsl(0, 100%, 0%));
}
#endScreen p {
    font-size: 0.1em;
    margin-top: 2vh
}